body{
    background-color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main{
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}
h1{
    color: #333;
}
p{
    color: #666;
}
label,input{
    display: inline-block;
    margin: 0px 40px;
    margin-bottom: 5px;
}


label{
    width: calc(40% - 80px);
    font-weight: bold;
}
input{
    width: calc(60% - 110px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.botoes{
    text-align: right;
    margin-top: 10px;
}
.laranja{
    background-color: #d3780f;
    padding: 10px 20px;
    color: white;
    border: 0px;
}
.azul{
    background-color: #1ed1d1;
    padding: 10px 20px;
    color: white;
    border: 0px;
}
